<mat-card style="padding: 30px;">
    <h1>Detalles del Perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="https://i.pinimg.com/1200x/c5/07/8e/c5078ec7b5679976947d90e4a19e1bbb.jpg" alt="" class="profile-image" />
                    <h1 class="mt20">Diego Mendez Rojas</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-3">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre Usuario</td>
                                <td>Diego Mendez Rojas</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td>3138127195</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>ADMIN</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>Activo</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions class="mt20">
            <div class="container text-center">
                <button mat-raised-button color="primary">Actualizar</button>
                <button class="ml20" mat-raised-button color="accent">Compartir</button>
            </div>
        </mat-card-actions>
    </mat-card-content>
</mat-card>